
/* 
    Created on : Dec 15, 2016, 4:57:31 PM
    Author     : alexandrialenz
*/

/* COLOR SCHEME: 
* mint tab:#89a99b
* cream: #ecebe4
* white: #ffffff
* dark grey: #5e5e5e
* dark grey tab: #36444d
* lightmint: #ebf7f2
* snow: #fbfbf6
* mint-background: #ebf7f3
*/

/*FONTS
* font-family: 'Noto Sans', sans-serif;
* font-family: 'Montserrat', sans-serif;
*/

/* BODY */
.maincontent {
    background-color: #f3f2ed;
    /* background-repeat:no-repeat, repeat, repeat;
    background-size: 100%;
    background: -webkit-radial-gradient(bottom, #ffffff, #DBDAD0);
    background: -o-radial-gradient(bottom, #ffffff, #DBDAD0);
    background: -moz-radial-gradient(bottom, #ffffff, #DBDAD0); 
    background: radial-gradient(bottom, #ffffff, #DBDAD0); 
    */
} 

/* NAV */
.mainnav {
    background-color: #ebf7f3;
    padding-bottom: 5px;
} 

.logo { 
    margin-top: 5px;
    padding-left: 15px;
}

.nav {
    padding-left: 0px;
    margin-bottom: 0;
    list-style: none;
    float: right;
    margin-top: 22px;
    background-color: white;
    border-top: .25px solid #dfeeec;
    background: -webkit-linear-gradient(bottom, #ffffff, #f9f9f9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #ffffff, #f9f9f9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, #ffffff, #f9f9f9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #ffffff, #f9f9f9);/* Standard syntax (must be last) */
}

.divider{
    border-left: .25px solid;
    border-image: linear-gradient(to bottom, #ffffff, lightgrey, #ffffff) 1 100%;
    border-width: .25px;
    height: 35px;
    margin: 0 auto;
}

.nav-tabs li a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    font-size: 12px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    padding-left: 25px;
    padding-right: 25px;
}
.nav li a {
    position: relative;
    display: block;
    padding: 10px 20px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    color: #89a99b;
    margin-right: 0px;
    padding-left: 25px;
    padding-right: 25px;
}

.nav-tabs li.active a, .nav-tabs li.active a:focus, .nav-tabs li.active a:hover {
    color: #555;
    cursor: inherit;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    border-top-width: 1px;
    padding-top: 13px;
    margin-bottom: -3px;
    bottom: 3px;
    padding-right: 25px;
    padding-left: 25px;

}

/* SUBNAV */
.subnav {
    list-style-type: none;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 3px;
}

.subnav ul {
    padding-left: 75px;
}

.subnav li {
    display: inline;
}

.subnav ul li {
    padding: 20px;
}

.subnav ul li a{
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    color: #8e8e8e;
    font-weight: 200; 
    font-size: 14px;
}

.subnav ul li a:hover, .subnav ul li a:focus, .subnav ul li a:active, .subnav ul li.active a{
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 200; 
    font-size: 14px;
}

/* Business Overview */
.addprog {
    text-align: center;
    padding-top: 20px;
    padding-left: 90px;
}

#programbuttontitle {
    font-size: 11px;
    line-height: 23px;
    text-align: center;
}

.myButton {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b9d6a3), color-stop(1, #8db380));
    background:-moz-linear-gradient(top, #b9d6a3 5%, #8db380 100%);
    background:-webkit-linear-gradient(top, #b9d6a3 5%, #8db380 100%);
    background:-o-linear-gradient(top, #b9d6a3 5%, #8db380 100%);
    background:-ms-linear-gradient(top, #b9d6a3 5%, #8db380 100%);
    background:linear-gradient(to bottom, #b9d6a3 5%, #8db380 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b9d6a3', endColorstr='#8db380',GradientType=0);
    background-color:#b9d6a3;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #a6cc97;
    display:inline-block;
    cursor:pointer;
    padding:15px 20px;
    text-decoration:none;
    text-align: center;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8db380), color-stop(1, #b9d6a3));
    background:-moz-linear-gradient(top, #8db380 5%, #b9d6a3 100%);
    background:-webkit-linear-gradient(top, #8db380 5%, #b9d6a3 100%);
    background:-o-linear-gradient(top, #8db380 5%, #b9d6a3 100%);
    background:-ms-linear-gradient(top, #8db380 5%, #b9d6a3 100%);
    background:linear-gradient(to bottom, #8db380 5%, #b9d6a3 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8db380', endColorstr='#b9d6a3',GradientType=0);
    background-color:#8db380;
}
.myButton:active {
    position:relative;
    top:1px;
}



/* MODAL */
.modal-header {
    background-color: #ebf7f3;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 5px;
}

.modal-body {
    font-family: 'Noto Sans', sans-serif;
    color: #8e8e8e;

}

.modal-title {
    text-align: center;
}

/* FORM */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    border-radius: 5px;
    margin-left: 15px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 5px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#formbutton {
    margin-top: 15px;
}

.form-group label {
    padding-top: 8px;
}

/* NEW PROGRAMS */

.titles {
    padding-left: 0px;
    padding-right:0px;
    margin-right: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #555;
    font-size: 16px;
}

.newprogram {
    margin: 10px;
    margin-top: 20px;
    padding: 0px;
    background-color: white;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    padding-top: 15px;
    padding-bottom: 5px;
    width: 25%;
    color: #8e8e8e;
    font-family: 'Noto Sans', sans-serif;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 1px #d8d8d8;
} 


.graph {
    width: 100%;
    padding-bottom: 10px;
}

.pencil {
    margin-top: -19px;
    margin-left: -4px;
    background-color: white;
}

.editicon {
    height: 22px;
    overflow: hidden;
    width: 22px;
    float: right;
    border-radius: 2px;
    padding-left: 0px;
    border: 1px solid #f6f6f6;
}

.pencil2{
    margin-bottom: 19px;
    margin-left: -4px;
}

.pencil2:hover {
    margin-left: -4px;
    margin-top: 17px;
}

.salesbymonth {
    font-size: 11px;
    color: #d8d7d3;
    padding-top: 20px;
    margin-bottom: 0px;
}

/* Total Monthly Table */
.totalmonthlytable {
    padding-left: 0px;
    padding-right: 0px;
}

.monthlytable {
    background-color: #fbfbf6;
    border-bottom: 1px solid #d8d7d3;
    border-top: 1px solid #d8d7d3;
    text-align: center;
    height: 40px;
    width: 100%;
}

.monthlytable tr th {
    font-size: 9px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    padding-top: 10px;
    color: #d8d7d3;
    padding-left: 15px;
}

.monthlytable tr th:nth-child(1){
    width: 80px;
}

.monthlytable tr th:nth-child(3){
    text-align: center;
    padding-left: 0px;
} 

.totalmonthlyid {
    padding-bottom: 0px;
    text-align: left;
    font-size: 11px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.currentamount {
    font-size: 11px;
    color: #555;
    padding-bottom: 10px;
}

.yearlines {
    padding-bottom: 10px;
}

/* Price Name Table */
.pricenametable {
    padding-top: 5px;
    table-layout: fixed;
    width: 100%;
}

.pricenametable td th {
    padding: 0;
    font-size: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    color: #d8d7d3;
}

.pricenametable tr th {
    font-size: 9px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    padding-top: 10px;
    color: #d8d7d3;
}

.pricenametable tr td {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 10px;
}

.pricenametable tr td:nth-child(2) {
    color: #d8d7d3;
}

.pricenametable tr th:nth-child(3) {
    text-align: center;
}

.pricenametable .textcol {
    width: 80px;
    font-size: 11px;
    padding-top: 5px;
}

.lessbutton {
    border: none;
    background-color: white;
    text-align: left;
    padding-left: 0px;
    font-size: 10px;
    color:#d8d7d3;
}

.morebutton {
    border: none;
    background-color: white;
    text-align: left;
    padding-left: 0px;
    font-size: 10px;
    color: #d8d7d3;
}
